<div class="frame-wrapper">
    <img class="car-image" src="/assets/images/car.png" alt="Car"/>
    <div class="main-text-wrapper">
        <span class="countries-text">Европа, СНГ, Беларусь</span>
        <span class="perevozka-text">Перевозка опасных грузов</span>
        <span class="description-text">
            <b>ООО «ГРУЗОВИТ-ТРАНС»</b> - транспортная частная организация, активно работающая на рынке транспортных
            услуг с <b>2009</b> года, специализирующаяся на перевозке опасных грузов <b>3</b> и <b>9</b> класса опасности.
        </span>
        <div class="button-wrapper">
            <span class="left-mark">Оставить заявку</span>
        </div>
    </div>
    <div class="bottom-panel-wrapper">
        <div class="bottom-element">
            <img src="/assets/images/galochka.png" alt="logo">
            <span class="bottom-label">Быстрая доставка</span>
        </div>
        <div class="bottom-element">
            <img src="/assets/images/galochka.png" alt="logo">
            <span class="bottom-label">Большой автопарк</span>
        </div>
        <div class="bottom-element">
            <img src="/assets/images/galochka.png" alt="logo">
            <span class="bottom-label">Опытные сотрудники</span>
        </div>
    </div>
</div>
