<div class="footer">
    <div class="footer-wrapper">
    <div class="footer-element">
        <img src="/assets/images/footer-logo-1.png" alt="logo">
    </div>
    <div class="footer-element footer-text-wrapper">
        <span class="footer-text">OOO «ГРУЗОВИТ-ТРАНС»<br>
    247755, Республика Беларусь,
    Гомельская область, Мозырский район,
    Михалковский с/с, п. Михалки, 36/1</span>
    </div>
    <div class="footer-element-nav">
        <span class="nav-element">
            Главная
        </span>
        <span class="nav-element">
            О нас
        </span>
        <span class="nav-element">
            Наш автопарк
        </span>
        <span class="nav-element">
            Контакты
        </span>
    </div>
    <div class="contact-images-wrapper">
        <img class="footer-contact" src="/assets/images/footer-phone.png" alt="logo">
        <img class="footer-contact" src="/assets/images/insta.png" alt="logo">
        <img class="footer-contact" src="/assets/images/telegram.png" alt="logo">
    </div>
    <img src="/assets/images/arrow-up.png" alt="logo">
</div>
</div>
