<div class="frame-wrapper order-frame">
    <div class="order-column aside-column left-column">
        <div class="column-element first-column-element">
            <div class="circle">
                <span class="circle-label">100 тыс тон</span>
            </div>
            <span class="under-circle-label">
                    Битума перевозится ежегодно
                </span>
        </div>
        <div class="column-element">
            <div class="circle">
                <span class="circle-label">12 <br> стран</span>
            </div>
            <span class="under-circle-label">
                   Обширная география перевозок
                </span>
        </div>
        <div class="column-element">
            <div class="circle">
                <span class="circle-label">3900 рейсов</span>
            </div>
            <span class="under-circle-label">
                    Выполненно за 2020 год
                </span>
        </div>
    </div>
    <div class="order-column central-column">
        <div class="heading-wrapper">
                <span class="heading-label"> О нас</span>
                <div class="vectrors-wrapper">
                    <img  src="/assets/images/line.png" alt="Car"/>
                    <img class="car-skillet-image" src="/assets/images/car-skilett.png" alt="Car"/>
                    <img src="/assets/images/line.png" alt="Car"/>
                </div>
        </div>
        <div class="image-wrapper">
            <img  src="/assets/images/order-truck.png" alt="Car"/>
        </div>
        <div class="make-order-wrapper">
            <div class="make-order-button">
                <span class="make-order-text">Оформить заказ</span>
            </div>
        </div>
    </div>
    <div class="order-column aside-column right-column">
        <div class="column-element first-column-element">
            <div class="circle">
                <span class="circle-label">40 единиц</span>
            </div>
            <span class="under-circle-label special-label">
                    Специализированного транспорта
                </span>
        </div>
        <div class="column-element">
            <div class="circle">
                <span class="circle-label">4 мл км</span>
            </div>
            <span class="under-circle-label">
                   Пробега за 2020 год
                </span>
        </div>
        <div class="column-element">
            <div class="circle">
                <span class="circle-label">50+</span>
            </div>
            <span class="under-circle-label">
                    Постоянных клиентов
                </span>
        </div>

    </div>

</div>
