<svg class="upper-right-ellipse-wrapper">
    <ellipse cx="650" cy="520" rx="532" ry="552" style="fill: #0278E9"/>
</svg>

<svg class="upper-lover-right-ellipse-wrapper">
    <ellipse cx="650" cy="490" rx="460" ry="560" style="fill: #0278E9;"></ellipse>
</svg>

<svg class="middle-lover-right-ellipse-wrapper">
    <ellipse cx="200" cy="500" rx="390" ry="390" style="fill: #0278E9;"></ellipse>
</svg>


<svg class="autopark-left-circle">
    <ellipse cx="0" cy="400" rx="300" ry="300" style="fill: #0278E9;"></ellipse>
</svg>

<svg class="autopark-right-circle">
    <ellipse cx="400" cy="400" rx="320" ry="320" style="fill: #0278E9;"></ellipse>
</svg>

<div class="footer-elipse-wrapper">
<div class="contacts-footer-ellipse">
    <div class="logo-wrap">
        <span class="label">Наши партнёры</span>
        <div class="logo-wrapper">
            <img  src="/assets/images/line.png" alt="Car"/>
            <img class="car-skillet-image" src="/assets/images/car-skilett.png" alt="Car"/>
            <img src="/assets/images/line.png" alt="Car"/>
        </div>
    </div>

    <div class="logos-wrapper">
        <img class="image-logo" src="/assets/images/logos/logo-1.png">
        <img class="image-logo" src="/assets/images/logos/logo-2.png">
        <img class="image-logo" src="/assets/images/logos/logo-3.png">
        <img class="image-logo" src="/assets/images/logos/logo-4.png">
        <img class="image-logo" src="/assets/images/logos/logo-5.png">
        <img class="image-logo" src="/assets/images/logos/logo-6.png">
        <img class="image-logo" src="/assets/images/logos/logo-7.png">
    </div>
</div>
</div>
