<div class="map-layout-wrapper">
    <div class="left-side">
        <div class="card-wrapper card-wrapper-first">
            <div class="card-upper">
                <img class="card-image" src="/assets/images/cards/card-1.png" alt="Car">
                <span class="card-bold-text">ЗАО «ИВ-Инвест»</span>
            </div>
            <div class="card-lower">
                <span class="card-text">"Высокий профессиональный уровень водительского состава,
а также надежное техническое состояние автомобильного транспорта,
обеспечивают своевременную доставку груза получателю."
                </span>
            </div>

        </div>

        <div class="card-wrapper card-wrapper-second">
            <div class="card-upper">
                <img class="card-image" src="/assets/images/cards/card-2.png" alt="Car">
                <span class="card-bold-text">ОАО «Макродор»</span>
            </div>
            <div class="card-lower">
                <span class="card-text">“Между ОАО «Макродор» и ООО <br> «ГРУЗОВИТ-ТРАНС»
                    заключен <br> договор на оказание транспортных услуг по перевозке автомобильным <br>
                    транспортом битума нефтяного дорожного.”
                </span>
            </div>
        </div>

        <div class="card-wrapper card-wrapper-second card-wrapper-last">      <div class="card-upper">
            <img class="card-image" src="/assets/images/cards/card-2.png" alt="Car">
            <span class="card-bold-text">ОАО «Макродор»</span>
        </div>
            <div class="card-lower">
                <span class="card-text">“В процессе нашего сотрудничества
                    с 2011 по 2019 г.г. перевозчиком <br>полностью соблюдались
                    сроки оказания <br> услуг и иные условия заключенных <br> договоров.
                    Претензий по качеству оказанных услуг не имеем.”
                </span>
            </div></div>

    </div>
    <div class="right-side">
            <div class="right-side-upper">
                <div class="card-wrapper-right card-wrapper-first">
                    <div class="card-upper">
                        <img class="card-image" src="/assets/images/cards/card-3.png" alt="Car">
                        <span class="card-bold-text">«Дорожно-строительный трест №6»</span>
                    </div>
                    <div class="card-lower">
                <span class="card-text">“Выполнение договорных обязательств, четкое оформление документов, <br>
гибкий подход в решении поставленных задач, доброжелательное отношение <br>
сотрудников Вашей компании являются основанием для нашего дальнейшего
сотрудничества на долгие годы.”
                </span>
                    </div>
                </div>

                <div class="card-wrapper-right card-wrapper-first card-right">
                    <div class="card-upper">
                        <img class="card-image" src="/assets/images/cards/card-3.png" alt="Car">
                        <span class="card-bold-text">«Дорожно-строительный трест №6»</span>
                    </div>
                    <div class="card-lower">
                <span class="card-text">“Между ОАО «Макродор» и ООО <br> «ГРУЗОВИТ-ТРАНС»
                    заключен <br> договор на оказание транспортных услуг по перевозке автомобильным <br>
                    транспортом битума нефтяного дорожного.”
                </span>
                    </div>
                </div>
            </div>

        <div class="right-side-lower">
            <img class="map-image"  src="/assets/images/map.png" alt="Car">
        </div>
    </div>
</div>
