.map-layout-wrapper{
	width: 100vw;
	height: 130vh;
	display: flex;
	z-index: 1000;
}



.right-text{
	flex: 9;
}

.card-wrapper{
	z-index: 10000;
	width: 298px;
	height: 220px;
	margin-left: 100px;
	padding: 10px;
	background: #FFFFFF;
	border: 1px solid #000000;
	box-sizing: border-box;
	box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
	border-radius: 25px;
	display: flex;
	flex-direction: column;
}

.card-wrapper-first{
	margin-top: 190px;
}

.card-wrapper-second{
	margin-top: 70px;
}

.card-upper{
	display: flex;
	flex: 2;
}

.card-lower{
	flex: 3;
}

.card-bold-text{
	font-family: 'Roboto', serif;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 120%;
	margin-left: 30px;
	margin-top: 20px;
	color: #000000;
}


.card-image{
	height: 70px;
}

.card-text{
	font-family: 'Roboto', serif;
	font-style: normal;
	font-weight: 300;
	font-size: 12px;
	line-height: 5px;
	color: #000000;
}

.card-wrapper-last{
	height: 220px;
}

.right-side{
	flex: 5;
	z-index: 100000;
	display: flex;
	flex-direction: column;
}

.left-side{
	flex: 3;
	display: flex;
	flex-direction: column;
}

.right-side-upper{
	flex: 2;
	display: flex;
}

.right-side-lower{
	flex: 8;
}

.card-wrapper-right{
	z-index: 1000000;
	width: 298px;
	height: 220px;
	padding: 10px;
	background: #FFFFFF;
	border: 1px solid #000000;
	box-sizing: border-box;
	box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
	border-radius: 25px;
	display: flex;
	flex-direction: column;
}

.card-right{
	margin-left: 120px;
}
.map-image{
	margin-top: 50px;
	width: 85%;
	height: 80%;
}

.mapouter {
	position: relative;
	text-align: right;
	width: 76%;
	height: 70%;
	margin-top: 100px;
}
.gmap_canvas {
	overflow:hidden;
	background:none!important;
	width:100%;
	height:100%;
}
.gmap_iframe {
	width:100% !important;
	height:100% !important;
}
