<div class="contacts-wrapper">
    <div class="label-wrapper">
        <span class="label">Контакты</span>
        <div class="logo-wrapper">
            <img  src="/assets/images/line.png" alt="Car"/>
            <img class="car-skillet-image" src="/assets/images/book.png" alt="Car"/>
            <img src="/assets/images/line.png" alt="Car"/>
        </div>
    </div>
    <div class="main-part-wrapper">
        <div class="left-main-part">
                <div class="single-contact-wrapper">
                    <div class="contact-text-wrapper">
                        <span class="bold-text">
                            <b>Директор:</b> <br> Афанасенко Дмитрий Анатольевич <br>
                            +375 29 687-40-87 <br>
                            e-mail: ptavto@mail.ru</span>
                    </div>
                    <img class="avatar-image" src="/assets/images/avatar-1.png" alt="Car"/>
                </div>
            <div class="single-contact-wrapper">
                <img class="avatar-image" src="/assets/images/avatar-2.png" alt="Car"/>
                <div class="contact-text-wrapper right-text">
                    <span class="bold-text"><b>Инженер организации перевозок опасных <br>грузов:</b><br>
                        Панфиленко Константин Григорьевич<br>
                        +375 44 540-38-02 <br>
                        e-mail: gruzovit@mail.ru</span>
                </div>

            </div>
            <div class="single-contact-wrapper">
                <div class="contact-text-wrapper">
                    <span class="bold-text"><b>Бухгалтерия:</b><br>
                        Василевская Наталья Александровна<br>
                        +375 236 25 48 78 (Т/ф)<br>
                        +375 44 555 72 08<br>
                        +375 44 540 38 07<br>
                        e-mail: ptavto@yandex.ru</span>
                </div>
                <img class="avatar-image" src="/assets/images/avatar-3.png" alt="Car"/>
            </div>
            <div class="contacts-adress-text">
                <span class="adress-text"><b>Адресс:</b></span>
                <span class="adress-text">247755 п. Михалки, 36/1, Михалковский с/с, Мозырский район, Гомельская обл.</span>
            </div>
        </div>
        <div class="right-main-part">
            <div class="from-main-wrapper">
                <span class="make-order-text">Заполните заявку</span>
                <div class="form-wrapper order-form">
                    <input class="form-input" placeholder="Введите имя">
                    <input class="form-input" placeholder="Введите номер телефона">
                    <input class="form-input" placeholder="Введите адрес электронной почты">
                    <div class="make-order-button">
                        <span class="order-button-text">Отправить</span>
                    </div>
                    <div class="water-mark-wrapper">
                        <img src="/assets/images/water-mark.png" alt="Car">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-part-wrapper"></div>
</div>
